.category-name {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.category-name:hover {
    font-weight: 700;
}
.category-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}
.category-list {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex: 0 1 33.3%;
}